html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
}
$btn-color: #093f8b;
$bg-color: #0360ad;
$font-color: #fff;
$link-hover: #fea447;

body{
    font-family: Arial;
    font-weight: 400;
}
.main_wrap{
    overflow: hidden;
    background-color: $bg-color;
}
.main_bg{
    overflow: hidden;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('https://drive.google.com/uc?export=view&id=1P95ihFN5U2Qwdu0LlKuMfLmSKb1kXv8g');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 16px;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    position: relative;
}
.overlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3,96,173, .95);
}
.main{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.wrap{
    position: relative;
}
.fish{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 80%;
    > img{
        display: block;
        width: 100%;
        height: auto;
    }
}
.central_title{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 0);
    color: $font-color;
    font-size: 24px;
    letter-spacing: 16px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px 4px #606060;
    @media (min-width: 768px){
        font-size: 30px;
    }
    @media (min-width: 992px){
        font-size: 44px;
        letter-spacing: 25px;
    }
}
.letter{
    display: inline-block;
    position: relative;
    font-family: Arial;
    font-size: 56px;
    line-height: 1;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    z-index: 5;
    text-shadow: 0px 0px 4px #606060;
    &:first-of-type,
    &:last-of-type{
        z-index: 1;
    }
    @media (min-width: 768px){
        font-size: 100px;
    }
    @media (min-width: 992px){
        font-size: 163px;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 16px 0;
    &_links,
    &_icons{
        list-style: none;
        flex: 1 0 0;
        text-align: right;
        >li{
            display: inline-block;
            vertical-align: middle;
            color: $font-color;
            font-size: 14px;
            text-transform: uppercase;
            @media (min-width: 768px){
                font-size: 18px;
            }
            @media (min-width: 992px){
                font-size: 22px;
            }
        }
    }
    .bag_ico{
        display: block;
        font-size: 14px;
        line-height: 1;
        margin-right: 12px;
        color: $font-color;
        &:hover{
            color: $link-hover;
        }
        @media (min-width: 768px){
            font-size: 16px;
            margin-right: 24px;
        }
        @media (min-width: 992px){
            font-size: 18px;
        }
    }
    &_links{
        text-align: left;
        >li:nth-child(1){
            position: relative;
            margin-right: 24px;
            @media (min-width: 992px){
                
            }
            &:after{
                content: '';
                display: none;
                position: absolute;
                top: 9px;
                right: -19px;
                width: 8px;
                height: 8px;
                background-color: $font-color;
                border-radius: 50%;
                @media (min-width: 768px){
                    display: block;
                }
            }
        }
        a{
            color: $font-color;
            &:hover{
                color: $link-hover;
            }
        }
    }
    &_title h1{
        flex: 2 0 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        color: $font-color;
        text-align: center;
        text-transform: uppercase;
        @media (min-width: 768px){
            font-size: 26px;
        }
        @media (min-width: 992px){
            font-size: 32px;
        }
    }
}

.burger{
    display: flex;
    flex-direction: column;
    align-items: end;
    cursor: pointer;
    &_line{
        display: block;
        height: 2px;
        margin-bottom: 2px;
        background-color: $font-color;
        @media (min-width: 992px){
            margin-bottom: 3px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    &--line1{
        width: 10px;
    }
    &--line2{
        width: 15px;
    }
    &--line3{
        width: 12px;
    }
    &--line4{
        width: 17px;
    }
}

.nav{
    position: absolute;
    padding: 24px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    &_list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li{
            transform: translate(0, 200px);
        }
        a{
            font-size: 14px;
            font-weight: 400;
            color: $font-color;
            @media (min-width: 768px){
                font-size: 22px;
            }
            &:hover{
                color: $link-hover;
            }
        }
    }
}